* {
    box-sizing: border-box;

}
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.header{
    width: 100vw;
    position: fixed;
    align-self: flex-start;
    margin: 0;
    padding: 1rem;
    background: white;
    text-align: center;
}
h2{
    padding: 0;
    margin: 0;
}

.multiple-choice{
    color: white;
}

main.container{
    border: 1px solid white;
    padding: 0;
    margin: 0;
    height: 100vh;
}

div.section{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.question1{
    display: flex;
    margin-bottom: 5%;
    margin-bottom: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 10%;
    height: 750px;
    width: 750px;
    /* background-color: blueviolet; */
    border: 2px solid black;
    box-sizing: border-box;
    color: black;
}

.waves-effect{
    width: 100%;
    text-align: left;
    /* background-color: blue; */
}
.waves-effect.disabled.correct-answer{
    width: 100%;
    text-align: left;
    border: 8px solid #2ABBAD;
    padding-bottom: 55px;
    color: #80f5e9;
}
