* {
    box-sizing: border-box;
    font-family: 'Bangers', sans-serif
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    /* background-image: linear-gradient(to right top, #f8fffe, #f7feff, #f7fdff, #f8fbff, #f9faff); */
    /* background-image: linear-gradient(to right top, #e6fffd, #e7fefd, #e8fdfc, #eafcfc, #ebfbfb); */
    background-image: linear-gradient(to right, #f6f6f6, #f7f8f9, #f7fafc, #f6fdfe, #f6fffe);

}

.header,.end {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    background: white;
    text-align: center;
    /* background-image: linear-gradient(to right top, #f8fffe, #f7feff, #f7fdff, #f8fbff, #f9faff); */
    /* background-image: linear-gradient(to right top, #e6fffd, #e7fefd, #e8fdfc, #eafcfc, #ebfbfb);   */
    background-image: linear-gradient(to right, #f6f6f6, #f7f8f9, #f7fafc, #f6fdfe, #f6fffe);
}    
.header {
    position: sticky;
    height: 100vh;
    flex-direction: column;
}

.begin {
    margin-top: 20px;
}

.trivia {
    margin-bottom: 75px;
    margin-top: 10px;
}

.next-button {
    justify-self: flex-end;
}

.end {
    height: 100vh;
    flex-direction: column;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Lobster', sans-serif;
}

.cursive{
    font-family: 'Lobster', sans-serif;
}

.multiple-choice {
    color: white;
}

main {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

div.section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.question1 {
    display: flex;
    margin-bottom: 5%;
    margin-bottom: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    height: 750px;
    width: 750px;
    color: black;
    /* border: 1px solid black; */
    border-radius: 14px;
    background: linear-gradient(145deg, #f7f6f6, #ffffff);
    box-shadow:  10px 10px 20px #aaaaaa,
                 -10px -10px 20px #ffffff;
}
h4{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    line-height: 50px;
}
.question{
    margin-top: 0px;
    line-height: 30px;
    text-align: left;
}

.waves-effect.answer-button-off {
    width: 100%;
    text-align: left;
}

.waves-effect.answer-button-on {
    width: 100%;
    text-align: left;
    background-color: #2ABBAD;
    /* border: 1px solid black; */
    /* background-color: #e7e4e4; */
    color: white;
}

.waves-effect.disabled.correct-answer {
    width: 100%;
    text-align: left;
    border: 4px solid #2ABBAD;
    padding-bottom: 55px;
    color: #80f5e9;
}