* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #f5faff, #f2fcff, #f1fdfe, #f1fffa, #f5fff6, #f5fff4, #f5fef1, #f5feef, #eefeef, #e6fff1, #defff5, #d6fffa);
}

.header,
.end {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    background: white;
    text-align: center;
    background-image: linear-gradient(to right, #f5faff, #f2fcff, #f1fdfe, #f1fffa, #f5fff6, #f5fff4, #f5fef1, #f5feef, #eefeef, #e6fff1, #defff5, #d6fffa);
}

.header {
    position: sticky;
    height: 100vh;
    flex-direction: column;
}

.begin {
    margin-top: 20px;
}

.trivia {
    margin-bottom: 75px;
    margin-top: 10px;
}

.next-button {
    justify-self: flex-end;
}

.end {
    height: 100vh;
    flex-direction: column;
}

h2 {
    padding: 0;
    margin: 0;
}

.multiple-choice {
    color: white;
}

main {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

div.section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.question1 {
    display: flex;
    margin-bottom: 5%;
    margin-bottom: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    height: 750px;
    width: 750px;
    box-sizing: border-box;
    color: #373737;
    border: 1px solid black;
    border-radius: 22px;
    background: #fafafa;
    box-shadow:  6px 6px 20px #d7d7d7,
                 -6px -6px 20px #ffffff;
}
h4{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    line-height: 50px;
}
.question{
    margin-top: 0px;
    line-height: 30px;
    text-align: left;
}

.waves-effect.answer-button-off {
    width: 100%;
    text-align: left;
}

.waves-effect.answer-button-on {
    width: 100%;
    text-align: left;
    background-color: #F1F1F1;
    color: #373737;
}

.waves-effect.disabled.correct-answer {
    width: 100%;
    text-align: left;
    border: 4px solid #2ABBAD;
    padding-bottom: 55px;
    color: #80f5e9;
}